
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">{{ product1.name }}</h2>
            <p class="lead">{{ product1.description }}.</p>
            <div class="product-image">
                <img src="{{ asset("image/" ~ product1.image) }}"/>
            </div>
            <br>
            <a href="{{ path('di_platform_cart') }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Add it in your belly</a>
        </div>
        {#<div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>#}
    </div>
    {% if product2 is not null %}
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">{{ product2.name }}</h2>
                <p class="lead">{{ product2.description }}</p>
                <div class="product-image">
                    <img src="{{ asset("image/" ~ product2.image ) }}">
                </div>
                <br>
         <a href="{{ path('di_platform_cart') }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Add it in your belly</a>
            </div>
            {#<div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>#}
        </div>
    {% endif %}
</div>